.main-container {
  display: flex;
  flex-direction: column;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: 30px;
}
.header {
  font-size: 15px;
  color: #6d0c74;
  margin-left: 7%;
  width: 100%;

}
h1 {
  box-shadow: 10px 7px 9px #6d0c74;
  padding: 10px;
  border: 1px solid #AB4477;
  width: 238px;
}
input {
  width: 35%;
  padding-left: 5px;
  height: 40px;
  border: 1px solid #6d0c74;
  font-size: 20px;
  font-weight: 100;
  box-shadow: 10px 7px 9px #6d0c74;

}

*:focus {
  outline: none;
}


.container {
  width: 100%;
  display: flex;
  margin-left: 7%;
  margin-top: 2%;
}
.btn {
  background-color: white;
  border: none;
  color: #6d0c74;
  text-align: center;
  font-size: 25px;
  /* padding: 10px; */
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 50px;
  border: 1px solid #AB4477;
  box-shadow: 10px 7px 9px #6d0c74;
  font-weight: bold;

}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

.news-holder {
  display: flex;
}

.news-holder ul {
  margin-right: 13%;
  width: 100%;
  margin-left: 10px;

}

.news-holder ul  li {
  list-style-type: none;
  border: 1px solid;
  min-height: 30px;
  margin-bottom: 10px;
  padding-top: 20px;
  color: #AB4477;
  padding-left: 8px;
  box-shadow: 10px 8px 6px #00000029;
}

.news-holder ul li a {
  text-decoration: none;
  color: #6d0c74;
  font-size: 20px;
}

.news-holder ul  li:hover {
  color: black;
}

.news-holder ul li a:hover {
  text-decoration: none;
  color: black;
}


.error {
  color: red;
  width: 70%;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
  border: 1px solid #AB4477;
  box-shadow: 10px 7px 9px #6d0c74;
  padding: 10px;
  margin-left: 48px;
}

.lds-loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
}
.lds-loader div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #6d0c74;
  animation: lds-loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-loader div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-loader div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-loader div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-loader {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}


.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #6d0c74;
  width: 80px;
  height: 80px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}