.main-container {
  display: flex;
  flex-direction: column;
}
.app {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: 30px;
}
.header {
  font-size: 15px;
  width: 20%;
  font-weight: 100;
  color: #6d0c74;
  padding-left: 10px;
}
input {
  width: 45%;
  height: 40px;
  border: 2px solid #6d0c74;
  font-size: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 2px 6px #00000029;

}

.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.btn {
  border-radius: 10px;
  background-color: #AB4477;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  /* padding: 10px; */
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

.news-holder {
  display: flex;
  justify-content: center;
}

.news-holder ul {
  margin-right: 13%;
}

.news-holder ul  li {
  list-style-type: none;
  border: 1px solid;
  height: 59px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-top: 30px;
}

.news-holder ul li a {
  text-decoration: none;
}

